{% extends 'base.html.twig' %}

{% block title %}Acuueil{% endblock %}



{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Bienvenue sur Pulse Forum</h1>
                <p>Le tout nouveu forum du net!</p>
                <div class="searchbar">
                    <input type="text" placeholder="Entrez un mot clé">
                    <button class="btn btn-primary">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
            {% if forums is not empty %}
                <h1>Nos Forums</h1>
                {% for forum in forums %}
                    <h2>{{ forum.title }}</h2>
                    {% if forum.categories is not empty %}
                        <ul>
                            {% for category in forum.categories %}
                                <li><h3>{{ category.title }}</h3></li>
                                {% if category.posts is not empty %}
                                    <ul>
                                        {% for post in category.posts %}
                                            <li>{{ post.title }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No posts available for this category.</p>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No categories available for this forum.</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No forums available.</p>
            {% endif %}
        
        </div>

{% endblock %}
