.post-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.post-container h1, h2, p {
    color: white;
}

.post {
    position: relative;
    padding-bottom: 50px;
}

.post-action-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin: 5px 5px 5px 0px;
    padding: 5px 5px 5px 0px;
    border-radius: 5px;
}


@media (min-width: 320px) {
    
    .post-container {
        max-width: 320px;
    }

    .post {
        position: relative;
    }

    .post-action-buttons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 3px;
        left: 0;
        gap: 5px;
    }
    .post-action-buttons button {
        background-color: #415A77;
        border: none;
        color: white;
        padding: 5px;
        border-radius: 5px;
    }

    .comment-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1b263b;
    border: none;
    color: white;
    margin: 10px 0px;
    padding: 5px;
    padding-bottom: 50px;
    border-radius: 5px;
    position: relative;
    }

    /* .child-comment {
        margin-left: 20px;
    } */
}

@media (min-width: 400px) {
    .post-container {
        max-width: 400px;
    }
}

@media (min-width: 500px) {
    .post-container {
        max-width: 500px;
    }
}

@media (min-width: 650px) {
    .post-container {
        max-width: 650px;
    }
}

@media (min-width: 800px) {
    .post-container {
        max-width: 800px;
    }
}

@media (min-width: 1024px) {
    .post-container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .post-container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .post-container {
        max-width: 1536px;
    }
}